<div class="sidebar-content">
    <div class="logo">
        <h1>Sim Pilot</h1>
    </div>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/checklist">Checklist</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/add_on">Add-On</a></li>
    </ul>
</div>
<div class="sidebar-footer">
    <button class="message-button"><i class="fas fa-envelope"></i> Message</button>
</div>
